# Gradle
.gradle/
build/
bin/

# Metals
.metals/
.worksheet/

# Eclipse metadata
.project
.classpath
.settings/

# Macos
.DS_Store

# test resources
app/src/main/java/ca/uwaterloo/watform/test/catalyst/catalyst-corpus.zip
app/src/main/java/ca/uwaterloo/watform/test/catalyst/catalyst-corpus
app/src/main/java/ca/uwaterloo/watform/test/catalyst/timeout

